* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: beige;
}

div {
  display: inline;
}

section {
  width: 80%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px auto;
  width: 90%;
}

aside nav {
  background-color: cornflowerblue;
  color: blanchedalmond;
  text-decoration: none;
}

.site__header {
  background-color: #000;
  padding: 10px;
  width: 100%;
}

.left {
  float: left;
}

.right {
  position: absolute;
  top: 10px;
  float: right;
  right: 0;
}

.site__header-content a {
  color: antiquewhite;
  list-style: none;
  text-decoration: none;
  margin: 0 5px;
}

.site__nav {
  align-content: space-between;
  background-color: white;
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
}

.site__nav-left {
  position: absolute;

  /* left: 5px; */
}

.site__nav img {
  width: 100px;
}

.site__nav-logo {
  display: none;
  background-color: #000;
}

.site__nav-links a {
  color: rgb(134, 134, 134);
  font-size: 18px;
  padding: 0 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__nav a {
  padding-right: 10px;
  text-decoration: none;
}

.header__nav-item {
  border-left: 1px solid #666;
  height: 30px;
}

.fas {
  font-size: 20px;
  line-height: 100%;
  padding-left: 5px;
}

.fa-search {
  color: #666;
}

.fa-bars {
  color: orangered;
}

.cover {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 270px 270px;
  justify-content: space-around;
  width: 100%;
}

.cover a {
  color: aliceblue;
  text-decoration: none;
  position: relative;
  top: 50%;
  margin: 5px;
}

.cover__main {
  margin: 5px 5px 0 5px;
  max-width: 100%;
  padding: 15px;
}

.side__0 {
  grid-row: 1/3;
  background:
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/pexels-cover.jpg") no-repeat;
  background-size: 100%;
}

.side__0 h2 {
  font-size: 70px;
}

.side__1 {
  grid-column: 2/3;
  background:
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      #fff0 100%
    ),
    url("../images/pexels-cover-2.jpg") no-repeat;
  background-size: 100%;
}

.side__2 {
  background:
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/pexels-cover-3.jpg") no-repeat;
  background-size: 100%;
}

.cover__main h3 {
  font-style: italic;
}

.cover__main h2 {
  font-weight: 700;
}

/* Latest News */

.latest__news {
  width: 80%;
  margin: 50px auto 10px auto;
}

.latest__news-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.latest__header {
  flex: 1;
}

.latest__header a {
  text-decoration: none;
  color: #f42;
}

.latest__nav {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-bottom: 20px;
}

.latest__news-item {
  flex: 1;
  width: 250px;
}

.latest__news-item a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}

.latest__news-item img {
  width: 270px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.latest__news-item span {
  color: #666;
}

.section__latest_header {
  margin: auto;
}

.aside__link {
  margin-bottom: 10px;
  border-right: 1px solid #f42;
  margin-right: 10px;
}

.aside__link a {
  color: orangered;
  text-decoration: none;
}

/* Story section */

.section__story {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
}

.section__story-card {
  background-color: rgb(252, 222, 226);
  flex: 1;
  margin-bottom: 20px;
  margin-right: 10px;
  max-width: 285px;
}

.section__story-flow {
  background-color: lightcoral;
}

.section__story-flow h3 {
  font-weight: bold;
  position: relative;
  top: -30px;
  right: -90px;
}

.section__story-flow h5 {
  font-size: 12px;
  font-weight: lighter;
  color: #666;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  top: -30px;
  right: -90px;
}

.section__story-card h2 {
  background-color: orangered;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 10px 100px;
  color: antiquewhite;
}

.section__story-footnote {
  border-bottom: 1px solid rgb(255, 123, 100);
  padding-bottom: 20px;
}

.section__story-footnote a {
  text-decoration: none;
  color: #666;
}

.section__story-footnote ul {
  padding-left: 30px;
  list-style: none;
}

.section__story-footnote li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.section__story-end a {
  color: #555;
  text-decoration: none;
}

.section__story-end {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section__story-end span {
  color: tan;
}

.section__story-card img {
  position: relative;
  top: -30px;
  left: 20px;
  width: 60px;
}

/* latest Deals Section */

.section__latest-deals {
  margin: 0 auto;
}

.latest__deals-header {
  color: #f42;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.latest__deals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.latest__deals-details img {
  width: 270px;
  padding-right: 10px;
}

.latest__deals-details h5 {
  color: #555;
}

.latest__deals-details {
  flex: 1;
  margin-bottom: 20px;
}

.old_price {
  text-decoration-line: line-through;
  margin-right: 5px;
}

.footer__top {
  background-color: #272727;
  text-align: center;
  width: 100%;
}

.footer__top-nav {
  font-size: 20px;
  list-style: none;
  padding: 20px;
}

.footer__top-nav a {
  border-radius: 5px;
  border-color: #f42;
}

.footer__top-nav i {
  color: antiquewhite;
  padding: 0 10px;
  text-decoration: none;
}

.footer__bottom {
  background-color: black;
  color: #666;
  padding: 50px 0;
}

.footer__bottom p {
  margin: 0 auto;
  width: 50%;
}

.footer__bottom a {
  text-decoration: none;
  color: antiquewhite;
}

.footer__top-nav-sub {
  margin-bottom: 10px;
}

.footer__top-nav-sub a {
  color: #666;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  main {
    background-color: beige;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px auto;
    width: 90%;
  }

  aside nav {
    background-color: cornflowerblue;
    color: blanchedalmond;
    text-decoration: none;
  }

  .site__header {
    display: none;
  }

  .site__nav {
    align-content: space-between;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
  }

  .site__nav img {
    width: 100px;
  }

  .site__nav-links a {
    text-decoration: none;
    font-size: 15px;
    color: #666;
  }

  .header__nav a {
    padding-right: 10px;
    text-decoration: none;
  }

  .fas {
    line-height: 100%;
    padding-left: 5px;
  }

  .fa-search {
    border-left: 0.5px solid #666;
    color: #666;
    font-size: 30px;
  }

  .fa-bars {
    border-left: 0.5px solid #666;
    color: orangered;
    font-size: 30px;
  }

  .cover {
    display: grid;
    grid-area: auto;

    /* grid-column: 1fr;
    grid-row: 1fr;  */
    margin: auto;
    width: 100%;
  }

  .cover a {
    color: aliceblue;
    text-decoration: none;
  }

  .cover__main {
    margin: 5px;
    max-width: 100%;
    padding: 20px;
  }

  .side__0 {
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../images/pexels-cover.jpg") no-repeat;
    background-size: 750px 250px;
  }

  .side__1 {
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        #fff0 100%
      ),
      url("../images/pexels-cover-2.jpg") no-repeat;
    background-size: 750px 250px;
  }

  .side__2 {
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../images/pexels-cover-3.jpg") no-repeat;
    background-size: 750px 250px;
  }

  .cover__main h3 {
    font-style: italic;
    margin-top: 50px;
  }

  .cover__main h2 {
    font-weight: 700;
  }

  .latest__news {
    display: grid;
    grid-area: auto;

    /* grid-column: 1fr;
    grid-row: 1fr; */

    margin: 10px auto;
    max-width: 90%;
  }

  .latest__news h2 {
    color: orangered;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .latest__news-item img {
    height: 90px;
    width: 70px;
    margin: 5px;
  }

  .latest__news-item p {
    color: black;
    font-weight: bold;
  }

  .latest__news-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    /* align-items: flex-start; */
    margin: 0 auto;
    width: 100%;
  }

  .latest__news-item a {
    text-decoration: none;
  }

  .latest__news-item-link {
    color: #666;
    font-size: x-small;
  }

  .latest__news-item-time {
    color: #666;
    font-size: x-small;
  }

  .aside__link {
    margin-bottom: 10px;
  }

  .aside__link a {
    color: orangered;
    text-decoration: none;
  }

  .section__story {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 5px auto;
    width: 90%;
  }

  .section__story-card {
    background-color: rgb(252, 222, 226);
    margin-bottom: 20px;
  }

  .section__story-flow {
    background-color: lightcoral;
  }

  .section__story-flow h3 {
    font-weight: bold;
    position: relative;
    top: -30px;
    right: -90px;
  }

  .section__story-flow h5 {
    font-size: 12px;
    font-weight: lighter;
    color: #666;
    text-transform: uppercase;
    font-style: italic;
    position: relative;
    top: -30px;
    right: -90px;
  }

  .section__story-card h2 {
    background-color: orangered;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding: 10px 100px;
    color: antiquewhite;
  }

  .section__story-footnote {
    border-bottom: 1px solid rgb(255, 123, 100);
    padding-bottom: 20px;
  }

  .section__story-footnote a {
    text-decoration: none;
    color: #666;
  }

  .section__story-footnote ul {
    padding-left: 30px;
    list-style: none;
  }

  .section__story-footnote li {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .section__story-end a {
    color: #555;
    text-decoration: none;
  }

  .section__story-end {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .section__story-end span {
    color: tan;
  }

  .section__story-card img {
    position: relative;
    top: -30px;
    left: 20px;
    width: 60px;
  }

  .latest__deals {
    margin: 0 auto;
    width: 90%;
  }

  .latest__deals-header {
    color: #f42;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .latest__deals-link {
    text-decoration: none;
    color: #f42;
    font-size: medium;
  }

  .latest__deals-header-link {
    text-decoration: none;
    color: #f42;
  }

  .latest__deals-details img {
    width: 70px;
    float: left;
    padding-right: 10px;
  }

  .latest__deals-details h5 {
    color: #555;
  }

  .latest__deals-details {
    margin-bottom: 20px;
  }

  .old_price {
    text-decoration-line: line-through;
    margin-right: 5px;
  }

  .footer__top {
    background-color: rgb(46, 46, 46);
    text-align: center;
    width: 100%;
  }

  .footer__top-nav {
    font-size: 20px;
    list-style: none;
    padding: 20px;
  }

  .footer__top-nav a {
    border-radius: 5px;
    border-color: #f42;
  }

  .footer__top-nav i {
    color: antiquewhite;
    padding: 0 10px;
    text-decoration: none;
  }

  .footer__bottom {
    background-color: black;
    color: #666;
    padding: 50px 0;
  }

  .footer__bottom p {
    margin: 0 auto;
    width: 50%;
  }

  .footer__bottom a {
    text-decoration: none;
    color: antiquewhite;
  }

  .footer__top-nav-sub {
    margin-bottom: 10px;
  }

  .footer__top-nav-sub a {
    color: #666;
    text-decoration: none;
  }
}

/* Media Query for larger screens */

@media (min-width: 768px) and (max-width: 1024px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  main {
    background-color: beige;
  }

  .site__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    background-color: #000;
    padding: 10px;
  }

  .site__header-content a {
    color: antiquewhite;
    list-style: none;
    text-decoration: none;
    padding-right: 4px;
  }

  .site__nav {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
  }

  .site__nav img {
    width: 170px;
  }

  .site__nav-logo {
    background-color: black;
  }

  .header__nav a {
    padding-right: 10px;
    text-decoration: none;
  }

  .fas {
    line-height: 100%;
    padding-left: 5px;
  }

  .fa-search {
    border-left: 0.5px solid #666;
    color: #666;
    font-size: 30px;
  }

  .fa-bars {
    border-left: 0.5px solid #666;
    color: orangered;
    font-size: 30px;
  }

  .cover {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 200px 200px;
    justify-content: space-around;
    width: 100%;
  }

  .cover a {
    color: aliceblue;
    text-decoration: none;
  }

  .cover__main {
    margin: 5px 5px 0 5px;
    max-width: 100%;
  }

  .side__0 {
    grid-row: 1/3;
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../images/pexels-cover.jpg") no-repeat;
    background-size: 100%;
  }

  .side__1 {
    grid-column: 2/3;
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        #fff0 100%
      ),
      url("../images/pexels-cover-2.jpg") no-repeat;
    background-size: 100%;
  }

  .side__2 {
    background:
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("../images/pexels-cover-3.jpg") no-repeat;
    background-size: 100%;
  }

  .cover__main h3 {
    font-style: italic;
    margin-top: 30%;
  }

  .cover__main h2 {
    font-weight: 800;
  }

  .latest__news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px auto;
    max-width: 90%;
  }

  .latest__news h2 {
    color: #f42;
    display: unset;
    margin-right: 70%;
    margin-bottom: 10px;
  }

  .latest__news-item {
    flex: 1;
    margin-bottom: 20px;
    margin-right: 10px;
    width: 200px;
  }

  .latest__news-item img {
    width: 250px;
    margin-right: 20px;
  }

  .latest__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .latest__nav nav {
    border-right: 1px solid #f42;
  }

  .footer__top {
    background-color: rgb(46, 46, 46);
    text-align: center;
    width: 100%;
  }

  .footer__top-nav {
    font-size: 20px;
    list-style: none;
    padding: 20px;
  }

  .footer__top-nav a {
    border-radius: 5px;
    border-color: #f42;
  }

  .footer__top-nav i {
    color: antiquewhite;
    padding: 0 10px;
    text-decoration: none;
  }

  .footer__bottom {
    background-color: black;
    color: #666;
    padding: 50px 0;
  }

  .footer__bottom p {
    margin: 0 auto;
    width: 50%;
  }

  .footer__bottom a {
    text-decoration: none;
    color: antiquewhite;
  }

  .footer__top-nav-sub {
    margin-bottom: 10px;
  }

  .footer__top-nav-sub a {
    color: #666;
    text-decoration: none;
  }
}
