* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: beige;
}

/* header */
.site__header {
  display: none;
}

/* site Nav */
.site__nav {
  align-content: center;
  background-color: white;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.site__nav-left {
  flex: 1;
}

.site__nav-logo {
  padding: 10px 10px;
  width: 100px;
  background: #000;
}

.site__nav-links {
  display: none;
}

.site__nav-right {
  align-self: center;
  padding: 10px;
}

.site__nav-right a {
  padding-right: 10px;
  text-decoration: none;
}

.fas {
  font-size: 20px;
  line-height: 100%;
  padding-left: 5px;
}

.fa-search {
  color: #666;
}

.fa-bars {
  color: orangered;
}

/* cover story mobile */
.cover {
  max-width: 100%;
  height: auto;
}

.cover a {
  color: aliceblue;
  text-decoration: none;
}

.cover__main {
  margin: 5px 5px 0 5px;
  max-width: 100%;
  padding: 50px 5px 5px 15px;
  line-height: normal;
}

.side__0 {
  grid-row: 1;
  background:
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/pexels-cover.jpg") no-repeat;
  background-size: cover;
}

.side__1 {
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, #fff0 100%),
    url("../images/pexels-cover-2.jpg") no-repeat;
  background-size: cover;
}

.side__2 {
  background:
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/pexels-cover-3.jpg") no-repeat;
  background-size: cover;
}

.cover__main h3 {
  position: relative;
  font-style: italic;
}

.cover__main h2 {
  font-weight: 700;
}

/* Latest News Section */
.latest__news {
  width: 100%;
  margin: 50px 10px;
}

.latest__news-details {
  margin-top: 10px;
  margin-bottom: 20px;
}

.latest__header {
  margin-bottom: 20px;
}

.latest__header a {
  text-decoration: none;
  color: #f42;
}

.latest__news-item {
  display: flex;
  align-items: center;
  margin: auto;
}

.latest__news-item a {
  text-decoration: none;
  color: #000;
  font-weight: bolder;
}

.latest__news-item img {
  flex: 1;
  padding: 10px;
  width: 100px;
}

.latest__news-item span {
  color: #666;
}

.latest__nav {
  margin-bottom: 40px;
}

.section__latest_header {
  margin: 20px 20px;
}

.aside__link {
  margin: 10px 10px;
}

.aside__link a {
  display: block;
  color: orangered;
  text-decoration: none;
  margin: 10px 20px;
}

/* Story Section */
.section__story {
  display: block;
  margin: auto 10px;
}

.section__story-card {
  max-width: 100%;
}

.section__story-flow {
  background-color: rgb(253, 152, 135);
}

.section__story-flow h3 {
  font-weight: bold;
  position: relative;
  top: -30px;
  right: -90px;
}

.section__story-flow h5 {
  font-size: 12px;
  font-weight: lighter;
  color: #666;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  top: -30px;
  right: -90px;
  padding-bottom: 5px;
}

.section__story-card h2 {
  background-color: orangered;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 10px 100px;
  color: antiquewhite;
}

.section__story-footnote {
  background-color: rgb(252, 224, 188);
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.section__story-footnote a {
  text-decoration: none;
  color: #666;
}

.section__story-footnote ul {
  border-bottom: 1px solid rgb(255, 123, 100);
  padding-left: 30px;
  list-style: none;
}

.section__story-footnote li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.section__story-end a {
  color: #555;
  text-decoration: none;
}

.section__story-end {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section__story-end span {
  color: tan;
}

.section__story-card img {
  position: relative;
  top: -30px;
  left: 20px;
  width: 60px;
}

/* Hard Fork Section */
.container__other-news {
  width: 90%;
  margin: 40px auto;
}

.other__news-details {
  background:
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../images/pexels-cover.jpg") no-repeat;
  background-size: cover;
  color: white;
  padding: 50% 14px 14px 5px;
  margin-bottom: 5px;
}

.other__news-details h2 {
  margin: 50px;
}

.other__news-details a {
  text-decoration: none;
  color: white;
}

.other__news-details span {
  color: #666;
}

.other__extracts {
  flex: 1;
}

.other__news-under-note {
  display: flex;
  background-color: bisque;
  margin-bottom: 4px;
}

.other__news-under-note img {
  width: 120px;
}

.other__news-under-note a {
  display: inline;
  text-decoration: none;
}

.under-note-text {
  flex: 1;
}

.under-note-text span {
  color: #666;
  padding-top: 5px;
  font-style: italic;
  text-transform: uppercase;
}

.other__news-link a {
  text-decoration: none;
  color: #666;
  width: 80%;
}

.other__news-link li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(187, 187, 187);
  color: #f42;
}

/* Latest Deals */

.section__latest-deals {
  width: 90%;
  margin: 20px auto;
}

.latest__deals-header {
  color: #f42;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.latest__deals {
  display: grid;
  grid-template-rows: 1fr;
}

.latest__deals-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.latest__deals-details img {
  flex: 1;
  width: 70px;
  padding-right: 10px;
}

.latest__deals-details h5 {
  color: #555;
}

.old_price {
  text-decoration-line: line-through;
  margin-right: 5px;
}

/* footer */
.footer {
  background-color: black;
}

.footer__top {
  background-color: #272727;
  text-align: center;
  width: 100%;
}

.footer__top-nav {
  font-size: 20px;
  list-style: none;
  padding: 50px 20px;
  margin-bottom: 10px;
}

.footer__top-nav a {
  /* border-radius: 50%; */
  padding: 5px;
  background: #666;
}

.footer__top-nav i {
  color: antiquewhite;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 5px;
  border-color: #f42;
}

.footer__bottom {
  color: #666;
  padding: 40px 0 50px 0;
}

.footer__bottom p {
  margin: 0 auto;
  width: 50%;
}

.footer__bottom a {
  text-decoration: none;
  color: antiquewhite;
}

.footer__top-nav-sub {
  padding-bottom: 50px;
}

.footer__top-nav-sub a {
  margin-right: 5px;
  color: #666;
  text-decoration: none;
}

.other__news-details a:last-child {
  color: #666;
}

/* Media Query for medium screen */
